<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6ApVYIXN70I26O3IpvGTj_vadWyVaNEA</string>
	<key>GCM_SENDER_ID</key>
	<string>679234031594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>restify.CourierApp</string>
	<key>PROJECT_ID</key>
	<string>restifysite</string>
	<key>STORAGE_BUCKET</key>
	<string>restifysite.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679234031594:ios:d0674dadd0c5325d72ec93</string>
</dict>
</plist>